<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <h1>System Statistics Data</h1>
    <p>Scroll down please..</p>
    <div id="stats">
        <i class="bi bi-clock"></i><p>Current Time: <span id="current-time"></span></p>
        <i class="bi bi-pci-card-network"></i><p>IP Address: <span id="ip-address"></span></p>
        <i class="bi bi-cpu"></i><p>CPU Usage: <span id="cpu-usage"></span></p>
        <i class="bi bi-thermometer-half"></i><p>SoC Temperature: <span id="soc-temp"></span></p>
        <i class="bi bi-memory"></i><p>RAM: <span id="used-ram"></span>/<span id="total-ram"></span></p>
        <i class="bi bi-nvme"></i><p>Swap: <span id="used-swap"></span>/<span id="total-swap"></span></p>
    </div>
    <button id="shutdown-btn">Shutdown System</button>
    <button id="update-btn">Update System</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h2>If you are coming from Hack Club High Seas, please...</h2>
    <p><b>Check out this video:</b></p>
    <a href="https://cloud-7d6f87f96-hack-club-bot.vercel.app/0screencast_20250115_122351__online-video-cutter.com_.mp4" target="_blank">System Screencast</a>
    <p><b>The client Raspberry Pi Pico in action:</b></p>
    <a href="https://cloud-li6iomfu7-hack-club-bot.vercel.app/0video_-_2025-01-15_12_53_43_pm.mp4" target="_blank">Raspberry Pi Pico Video</a>
</body>
</html>
